.date {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

@keyframes slidein {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@-webkit-keyframes slide {
  100% {
    left: -80%;
  }
}

@keyframes slide {
  100% {
    left: -80%;
  }
}

@-webkit-keyframes slide-out {
  0% {
    left: -80%;
  }
  100% {
    left: 0%;
  }
}

@keyframes slide-out {
  0% {
    left: -80%;
  }
  100% {
    left: 0%;
  }
}

/* @-webkit-keyframes slideOut {
  100% {
    left: 900;
  }
}

@keyframes slideOut {
  100% {
    left: 900;
  }
} */

.shelves {
  height: 500px;
  width: 100%;
}

.treadmill {
  height: 200px;
  /* width: 1853px; */
}

.treadmill-fix {
  margin-top: -200px;
}

.hide {
  display: none;
}

.fruit {
  margin-top: -350px;
  padding-left: 40%;
  height: 300px;
  width: 300px;
}

.treadmill2 {
  position: absolute;
  left: -150%;
}

.treadmill-animation-in {
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 0s;
  animation: slide 5s forwards;
  animation-delay: 0s;
}

.treadmill-animation-out {
  -webkit-animation: slide-out 0.5s forwards;
  -webkit-animation-delay: 0s;
  animation: slide-out 5s forwards;
  animation-delay: 0s;
}

/* .treadmill-animation-out {
  height: 200px;
  width: 3906px;
  position: absolute;
  left: -900px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 3s forwards;
  animation-delay: 2s;
} */

.buttons {
  display: flex;
  justify-content: center;
}

.bars {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bars > * {
  /* margin: 0% 15%; */
  flex: 1;
  padding: 0% 3%;
  text-align: center;
}

.bar {
  height: 30px;
  width: 320px;
  margin-top: 5px;
}

.merge {
  font-size: 0;
}

body {
  margin: 0;
  padding: 0;
}
