html {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-transform: uppercase;
}

.date {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

@keyframes slidein {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@-webkit-keyframes slide {
  100% {
    left: -80%;
  }
}

@keyframes slide {
  100% {
    left: -80%;
  }
}

@-webkit-keyframes slide-out {
  0% {
    left: -80%;
  }
  100% {
    left: -20%;
  }
}

@keyframes slide-out {
  0% {
    left: -80%;
  }
  100% {
    left: -20%;
  }
}

.shelves {
  height: 500px;
  width: 100%;
}

.treadmill {
  height: 200px;
  /* width: 1853px; */
}

.treadmill-fix {
  margin-top: -200px;
}

.hide {
  display: none;
}

.vegetable {
  margin-top: -650px;
  padding-left: 40%;
  height: 500px;
  width: 500px;
}

.vegetable-background {
  position: absolute;
  visibility: hidden;
  height: 80px;
  width: 80px;
}

#vegetable-background-left1 {
  left: 160px;
  top: 64px;
}

#vegetable-background-left2 {
  left: 460px;
  top: 64px;
}

#vegetable-background-left3 {
  left: 260px;
  top: 167px;
}

#vegetable-background-left4 {
  left: 200px;
  top: 267px;
}

#vegetable-background-left5 {
  left: 490px;
  top: 267px;
}

#vegetable-background-left6 {
  left: 360px;
  top: 367px;
}

#vegetable-background-left7 {
  left: 540px;
  top: 367px;
}

#vegetable-background-right1 {
  right: 289px;
  top: 75px;
}

#vegetable-background-right2 {
  right: 460px;
  top: 75px;
}

#vegetable-background-right3 {
  right: 260px;
  top: 175px;
}

#vegetable-background-right4 {
  right: 200px;
  top: 278px;
}

#vegetable-background-right5 {
  right: 490px;
  top: 278px;
}

#vegetable-background-right6 {
  right: 360px;
  top: 367px;
}

#vegetable-background-right7 {
  right: 540px;
  top: 367px;
}

.dialog {
  position: absolute;
  left: 32%;
  top: 20%;
  background: white;
  border-radius: 15px;
  width: 200px;
  height: 200px;
  color: black;
  font-size: 15px;
  padding: 10px;
  visibility: hidden;
  border: 3px solid black;
}

.treadmill2 {
  position: absolute;
  left: -150%;
}

.treadmill-animation-in {
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 0s;
  animation: slide 5s forwards;
  animation-delay: 0s;
}

.treadmill-animation-out {
  /* -webkit-animation: slide-out 0.5s forwards; */
  -webkit-animation-delay: 0s;
  animation: slide-out 3s forwards;
  animation-delay: 0s;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons > * {
  margin: 15px;
}

.buttons > *:hover {
  cursor: pointer;
}

.bars {
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mentalHealth {
  display: flex;
  justify-content: start;
  width: 500px;
}

.bar-title {
  margin-top: 5px;
  margin-right: 10px;
}

.riot {
  margin-top: 10px;
  display: flex;
  justify-content: start;
  width: 500px;
}

.bars > * {
  /* margin: 0% 15%; */
  flex: 1;
  padding: 0% 3%;
  text-align: center;
}

.merge {
  font-size: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(128, 128, 128);
}

.progress {
  width: 350px;
  border: 1px solid black;
  position: relative;
  padding: 3px;
}

.percent {
  position: absolute;
  left: 50%;
}

.bar-red {
  height: 20px;
  background-color: #0abde3;
  width: 100%;
}

.bar-blue {
  height: 20px;
  background-color: #ee5253;
  width: 50%;
}

#between-days {
  display: none;
  width: 1920px;
  height: 1020px;
  background: black;
  position: absolute;
  top: 0%;
  left: 0%;
}

#week-nb {
  font-size: 20px;
  position: absolute;
  top: 35%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#weekday {
  font-size: 150px;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}